/* WELCOME SECTION */

.welcome {
    padding: 5rem 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
}

.welcome img {
    width: 40%;
    border-radius: 20px;
}

.welcome h1 {
    padding: 1rem 0 1.5rem;
}

/* ABOUT */

.about-section {
    background-color: #E7D3C8;
    padding: 6rem 0;
}

.about {
    gap: 8rem;
}

.waves {
    width: 100%;
}

.wave-mobile {
    display: none;
}

.waves img {
    width: 100%;
}

.about-section h2 {
    padding-bottom: 3rem;
}

.offers {
    width: 45%;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myJourney {
    width: 55%;
}

.myJourney h3,
.journey,
.reachOut,
.building {
    padding-bottom: .8rem;
}

.box {
    background-color: #F3E9E3;
    height: 120px;
    min-width: 120px;
    display: flex;
    border-radius: 10px;
    margin-right: 2rem;
}

.box img {
    height: 60px;
}

/* PORTFOLIO */

.projects {
    position: relative;
    padding: 8rem 0 9rem;
}

.headlines {
    align-items: center;
}

.carousel {
    display: grid;
    gap: 2rem;
}
  
.container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    height: 700px;
}
  
.project {
    margin-top: 2rem;
    cursor: pointer;
    height: 100%;
}

.project img {
    height: 67%;
    width: 100%;
    object-position: top;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    border-radius: 20px;
}

.moreInfo {
    align-items: center;
}

.small-btns {
    display: flex;
    padding: 1rem;
    height: 30px;
    width: 130px;
    border-radius: 70px;
    border: 1px solid #433930;
    gap: .5rem;
}

.info img {
    height: 25px;
    width: 25px;
}

.small-btns:hover {
    border: 1px solid #cdb0a1;
    background-color: #cdb0a1;
    transition: .5s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.info {
    height: 33%;
    padding: 1rem 0 0;
    gap: 1rem;
}

.titles {
    gap: .5rem;
}

.buttons,
.controls {
    display: flex;
    gap: 1rem;
}

.next-btn,
.prev-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.next-btn i,
.prev-btn i {
    padding: 0 1rem;
    font-size: 1.1rem;
}

.controls-mobile {
    display: none;
}

/* CONTACT FORM */

.contact-section {
    background-image: url(/Images/contact.png);
    background-size: cover;
    height: 900px;
    display: flex;
    align-items: center;
}

.contact {
    margin-top: 8rem;
    width: 100%;
}

.contact h2 {
    width: 60%;
    align-self: flex-end;
    padding-bottom: 1.5rem;
}

.contact-form {
    align-self: flex-end;
    width: 60%;
    gap: .7rem;
}

.contact-form input, 
textarea {
    border: none;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    font-size: .9rem;
    padding-left: 1.5rem;
}

.contact-form input {
    height: 2.8rem;
}

.names {
    display: flex;
    gap: .7rem;
}

.names input {
    width: 50%;
}

textarea {
    height: 200px;
    padding-top: 1rem;
}

.contact .button {
    align-self: end;
    min-width: 150px;
    cursor: pointer;
}

.contact .button:hover {
    background-color: #fffdfb;
}


/**/

@media screen and (max-width: 1440px) {
    .wrapper {
        padding: 0 10%;
    }
}

/* MEDIA QUERIES MACBOOK */
@media only screen and (min-width: 1181px) and (max-width: 1440px) {
    .welcome {
        padding: 5rem 10% 6rem;
    }

    .about {
        gap: 3rem;
    }

    .offers,
    .myJourney {
        width: 50%;
    }

    .projects {
        padding: 6rem 10% 1rem;
    }

    .container {
        gap: 2rem;
        height: 620px;
    }

    .project {
        height: 620px;
    }

    .project img {
        height: 62%;
    }

    .small-btns {
        height: 46px;
        width: 140px;
        padding: 1rem 1.5rem;
    }

    .info img {
        height: 25px;
        object-fit: contain;
    }

    .contact {
        margin-top: 15rem;
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1250px) {

    /* WELCOME */
 
    .about {
        flex-direction: column;
    }

    .welcome {
        padding: 3rem 10% 5rem;
        align-items: center;
        gap: 2rem;
    }

    .welcome-text {
        width: 70%;
    }

    .welcome img {
        width: 38%;
    }

    .welcome h1 {
        font-size: 2rem;
        padding: .5rem 0 1rem;
    }

    .welcome .small-title {
        font-size: 1rem;
    }

    .about {
        gap: 4rem;
    }

    .box {
        height: 100px;
        width: 100px;
    }

    .box img {
        margin-bottom: 1rem;
    }

    .offers {
        order: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 1.5rem;
    }

    .offer {
        flex-direction: column;
        align-items: start;
        justify-content: unset;
        gap: 1.5rem;
    }

    .offer p {
        font-size: .85rem;
    }

    .myJourney,
    .offers {
        width: 100%;
    }

    .projects {
        padding: 5rem 10% 4rem;
    }

    .project {
        max-height: 600px;
    }

    .info {
        padding-top: 2rem;
    }

    .container {
        grid-template-columns: 1fr;
        height: 600px;
    }

    .contact-section {
        height: 700px;
        background-image: url(/Images/contact-ipad.png);
        background-color: #fffdfb;
    }

    .contact h2 {
        align-self: start;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form input {
        height: 2.4rem;
    }
}

@media screen and (max-width: 767px) {
    .welcome {
        flex-direction: column;
        padding: 2rem 10% 4rem;
        gap: 3rem;
    }

    .welcome h1 {
        font-size: 1.6rem;
        padding: .7rem 0;
    }

    .welcome .small-title {
        font-size: 1rem;
    }

    .welcome img {
        width: 80%;
        align-self: start;
    }

    .about-section {
        padding: 3rem 0;
    }

    .wave-desktop {
        display: none;
    }

    .wave-mobile {
        display: block;
    }

    .about {
        flex-direction: column;
        gap: 3rem;
    }
    
    .myJourney {
        width: 100%;
    }

    .offers {
        order: 2;
        width: 100%;
        gap: 1.5rem;
    }

    .offer {
        flex-direction: column;
    }

    .box {
        align-self: start;
        margin-bottom: 1rem;
        width: 90px;
        height: 90px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .info {
        padding-top: 2rem;
    }

    .projects {
        padding: 5rem 10% 0rem;
    }

    .contact-section {
        background-image: url(/Images/contact-mobile.png);
        background-size: cover;
        height: 700px;
        display: flex;
        align-items: center;
    }

    .contact {
        margin-top: 3.5rem;
    }

    .contact h2 {
        align-self: start;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form input {
        height: 2.4rem;
    }
}