/* WELCOME SECTION */

.welcome {
    padding: 5rem 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
}

.welcome img {
    width: 40%;
    border-radius: 20px;
}

.welcome h1 {
    padding: 1rem 0 1.5rem;
}

/* ABOUT */

.about-section {
    background-color: #E7D3C8;
    padding: 6rem 0;
}

.about {
    gap: 8rem;
}

.waves {
    width: 100%;
}

.waves img {
    width: 100%;
}

.about-section h2 {
    padding-bottom: 3rem;
}

.offers {
    width: 45%;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myJourney {
    width: 55%;
}

.myJourney h3,
.journey,
.reachOut,
.building {
    padding-bottom: .8rem;
}

.box {
    background-color: #F3E9E3;
    height: 120px;
    min-width: 120px;
    display: flex;
    border-radius: 10px;
    margin-right: 2rem;
}

.box img {
    height: 60px;
}

/* PORTFOLIO */

.projects {
    position: relative;
    height: 1100px;
    padding: 6rem 0 7rem;
}

.headlines {
    align-items: center;
}

#portfolioCarousel,
#contactForm {
    justify-content: center;
}

.carousel {
    display: grid;
    gap: 2rem;
}
  
.container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    height: 700px;
}
  
.project {
    margin-top: 2rem;
    cursor: pointer;
    height: 100%;
}

.project img {
    height: 67%;
    width: 100%;
    object-position: top;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    border-radius: 20px;
}

.moreInfo {
    align-items: center;
}

.small-btns {
    display: flex;
    padding: 1rem;
    height: 30px;
    width: 130px;
    border-radius: 70px;
    border: 1px solid #433930;
}

.info img {
    height: 25px;
    width: 25px;
}

.small-btns:hover {
    background-color: #ff766fc5;
    border: 1px solid #ff766fc5;
    transition: .5s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.info {
    height: 33%;
    padding: 1rem 0 0;
    gap: 1rem;
}

.titles {
    gap: .5rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}
  
.controls {
    display: flex;
    gap: 1rem;
}

.next-btn,
.prev-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.next-btn i,
.prev-btn i {
    padding: 0 1rem;
    font-size: 1.1rem;
}

.controls-mobile {
    display: none;
}

/* MEDIA QUERIES IPAD */

@media screen and (max-width: 1180px) {

    .wrapper {
        padding: 0 10%;
    }

    /* WELCOME */

    .welcome,
    .about {
        flex-direction: column;
    }

    .welcome {
        padding: 3rem 10%;
        justify-content: start;
        align-items: start;
    }

    .welcome h1 {
        font-size: 2.8rem;
        padding: .5rem 0 1rem;
    }

    .welcome .small-title {
        font-size: 1rem;
    }

    /* ABOUT */ 

    .about {
        gap: 4rem;
    }

    .box {
        height: 100px;
        width: 100px;
    }

    .box img {
        margin-bottom: 1rem;
    }

    .offers {
        order: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 1.5rem;
    }

    .offer {
        flex-direction: column;
        align-items: start;
        justify-content: unset;
        gap: 1.5rem;
    }

    .offer p {
        font-size: .85rem;
    }

    .myJourney,
    .offers {
        width: 100%;
    }
}