header {
    background-color: #fffdfb;
    height: 80px;
}

.navbar {
    height: 100%;
    align-items: center;
}

.nav-links {
    height: 100%;
    width: 35%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav-link {
    font-size: 1.1rem;
    justify-self: end;
}

.navbar img {
    height: 30px;
}

.navbar-brand {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 1180px) {
    .navbar {
        padding: 0 10%;  
    }

    .icon-hidden{
        display: none;
    }

    .nav-link {
        padding: 1rem 100%;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        top: 95px;
        background: #fffdfb;
        width: 100%;
        left: 0;
        display: none;
        max-height: 250px;
        border-top: 1px solid #a9a9a985;
        border-bottom: 1px solid #a9a9a985;
        gap: .8rem;
    }

    .navbar img {
        height: 25px;
    }

    .hamburger-menu {
        display: flex;
    }
}